FLASK_ENV=development
SECRET_KEY=coloque_sua_secret_key
JWT_SECRET_KEY=coloque_sua_jwt_secret
DATABASE_URL=mysql+pymysql://usuario:senha@localhost:3306/chatbot_aida
AI_PROVIDER=gemini
AI_API_KEY=coloque_sua_chave_aqui
AI_MODEL=gemini-1.5-flash